{{ define "main" }}

  <main id="main">
    <div>
      <h1 id="title"><a href="{{ "" | relURL }}">Go Home and Embark on an Epic Adventure!</a></h1>
      <p id="intro">Uh-oh! Looks like you've stumbled upon a hidden treasure chest, but it seems to be empty...</p>
      <p id="message">Don't worry, fellow adventurer! Let's turn this unexpected encounter into a humorous tale to remember.</p>
      <img src="https://the1fool.com/images/02.jpg" alt="404 Page Image" id="404-image">
      <p id="story">Once upon a time, in a land far, far away, there was a passionate storyteller and traveler known as Upi. Armed with a trusty pen and a well-worn passport, Uppi set out to explore the wonders of the world and share captivating stories along the way.</p>
      <p id="laughter">But on this particular day, fate had a mischievous plan in store. As Uppi ventured into the digital realm, an enchanting yet elusive page known as 404 appeared, filled with whimsical mysteries.</p>
      <p id="search">Undeterred by the unexpected detour, Uppi embarked on a quest to infuse this empty treasure chest of a page with laughter and amusement.</p>
      <p id="adventure">Join Uppi as they weave together the threads of humor, travel tales, and unforgettable adventures. Explore the hidden corners of the world, encounter eccentric characters, and dive into the wondrous unknown.</p>
      <p id="return">But remember, fellow wanderer, this detour is only temporary. Click the link above to return home and continue your epic journey through Uppi's enthralling stories and captivating travels.</p>
      <p id="farewell">May laughter guide your path, and may your adventures be filled with endless joy!</p>
    </div>
  </main>
{{ end }}
